site_name: DEXTER Documentation
repo_url: https://github.com/George-Tsiamasiotis/DEXTER
repo_name: DEXTER
site_author: George Tsiamasiotis
docs_dir: docs
plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          type_parameter_headings: true
          show_symbol_type_toc: true
          show_root_heading: true
          show_symbol_type_heading: true
          show_object_full_path: true
          # docstrings
          docstring_style: numpy
          docstring_options:
            ignore_init_summary: false
            trim_doctest_flags: true
          docstring_section_style: list
          members_order: source
          # Signatures
          annotations_path: source
          modernize_annotations: true
          show_signature_annotations: true
          filters:
            - "!__len__"

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Inter
    code: Roboto Mono
  features:
    - navigation.path
    - navigation.top
    - content.tooltips
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - toc.follow

markdown_extensions:
  # Math
  - pymdownx.arithmatex:
      generic: true
  # Code blocks
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - NetCDF: netcdf.md
  - API Reference: 
    - Types: reference/types.md
    - Equilibirum: reference/equilibrium.md
